.header
  %h1 Teams

.content
  %p
    = link_to 'Team Registration', new_team_path, class: "pure-button #{within_team_registration_period? ? 'pure-button-primary' : 'pure-button-disabled'}"
    %br
    (Team registration period: #{Setting.team_registrable_from} - #{Setting.team_registrable_until})

  %table.pure-table
    %thead
      %tr
        %th Name
        %th # members
        %th Point
        - @challenges.each do |challenge|
          %th= challenge.name

    %tbody
      - @teams.each do |team|
        %tr
          %td= link_to team.name, team
          %td= team.players.count
          %td= team.point
          - @challenges.each do |challenge|
            - answered = Answer.valid.where(challenge: challenge).select { |ans| ans.player.team == team }
            %td
              - answered.count.times do
                &#x2713;