.header
  %h1 Teams

.content
  %table.pure-table
    %thead
      %tr
        %th Name
        %th # members
        %th Point
        - if player_signed_in?
          %th
          %th

    %tbody
      - @teams.each do |team|
        %tr
          %td= team.name
          %td= team.players.count
          %td= team.point
          - if player_signed_in?
            %td= link_to 'Show', team
            %td= link_to 'Edit', edit_team_path(team)

  %br

  = link_to 'New Team', new_team_path
