.header
  %h1= @team.name

.content
  %section
    %h1 Overview
    %dl
      %dt Point
      %dd= @team.point

  %section
    %h1 Members
    - if @team.players.any?
      %ul
        - @team.players.each do |player|
          %li
            = player.name
            - if current_player == player
              (You!)
    - else
      %p No members

  %section
    - if player_signed_in? && @team.member?(current_player)
      = link_to 'Edit', edit_team_path(@team)
      \|
    = link_to 'Back', teams_path
