.header
  %h1 Change your password

.content
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'pure-form pure-form-aligned' }) do |f|
    = devise_error_messages!
    %fieldset
      = f.hidden_field :reset_password_token
      .pure-control-group
        = f.label :password, "New password"
        = f.password_field :password, :autofocus => true
      .pure-control-group
        = f.label :password_confirmation, "Confirm new password"
        = f.password_field :password_confirmation
      .pure-controls
        = f.submit "Change my password", class: 'pure-button pure-button-primary'
  = render "players/shared/links"
