= form_for @account, url: @account.new_record? ? admin_accounts_path : admin_account_path(@account), html: { class: 'pure-form pure-form-aligned' } do |f|
  - if @account.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin.errors.count, "error")} prohibited this admin from being saved:"
      %ul
        - @account.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    .pure-control-group
      = f.label :email
      = f.email_field :email, required: true
    .pure-control-group
      = f.label :password
      = f.password_field :password
      %small Leave this empty if you want not to change the password.
    .pure-controls
      = f.submit 'Save', class: 'pure-button pure-button-primary'
