.header
  %h1 Admin Accounts

.content
  %section
    = link_to 'New Account', new_admin_account_path

  %section
    %table.pure-table
      %thead
        %tr
          %th Email
          %th Created at
          %th
          %th
          %th

      %tbody
        - @accounts.each do |account|
          %tr
            %td= account.email
            %td= account.created_at
            %td= link_to 'Show', admin_account_path(account)
            %td= link_to 'Edit', edit_admin_account_path(account)
            %td= link_to 'Destroy', account, :method => :delete, :data => { :confirm => 'Are you sure?' }
