.header
  %h1= Setting.ctf_name
  %h2 Spare Umbrella Limited Express Night Carnival

.content
  - unless player_signed_in?
    %p= link_to 'Sign in', new_player_session_path, class: 'pure-button pure-button-primary'
    %p
      Don't have an account?
      = link_to 'Sign up', new_player_registration_path

  %section
    %h1 Announcements
    .pure-g-r
      - @posts.take(3).each do |post|
        %article.pure-u-1-3
          %h2= link_to post.title, post
          %small.post-date= post.updated_at
          %p= truncate_html(@renderer.render(post.body), length: 80)
    %p= link_to 'All posts', posts_path

  - if player_signed_in?
    %section
      %h1 Challenges
      - if @challenges.present?
        %ul
          - @challenges.each do |challenge|
            %li= link_to challenge.name, challenge_path(challenge)
      - else
        %p No challenges are opened yet.

    %section
      %h1 Activities
      %ul
        %li Marisa submits the answer for 'Problem A' => +200pt.
        %li Remillia submits the answer for 'Problem A' => Wrong Answer...