= nested_form_for @challenge, url: (@challenge.new_record? ? admin_challenges_path : admin_challenge_path(@challenge)), html: {class: 'pure-form pure-form-aligned'} do |f|
  - if @challenge.errors.any?
    #error_explanation
      %h2= "#{pluralize(@challenge.errors.count, "error")} prohibited this admin_challenge from being saved:"
      %ul
        - @challenge.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    .pure-control-group
      = f.label :name
      = f.text_field :name, required: true
    .pure-control-group
      = f.label :genre
      = f.text_field :genre, required: true, list: 'genres'
      %datalist#genres
        - Challenge.genres.each do |g|
          %option= g
    .pure-control-group
      = f.label :opened_at
      = f.text_field :opened_at
      %small Leave this empty to close this challenge.
      :javascript
        $('#challenge_opened_at').datetimepicker();
    %fieldset
      %legend Description
      = f.text_area :description, class: 'pure-input-1'
      %p
        Preview:
        %div#description-preview
    %fieldset
      %legend Flags
      = f.fields_for :flags
      = f.link_to_add 'Add a flag', :flags, class: 'pure-button'
    .pure-controls
      = f.submit 'Save', class: 'pure-button pure-button-primary'

:javascript
  var conv = new Showdown.converter();
  $('#challenge_description').keyup(function() {
    $('#description-preview').html(conv.makeHtml(this.value));
  })