.header
  %h1 Challenges

.content
  %p
    = link_to 'New Challenge', new_admin_challenge_path

  %p= pluralize(Challenge.count, 'challenge')
  %table.pure-table
    %thead
      %tr
        %th ID
        %th Name
        %th Genre
        %th Point
        %th Opened at
        %th
        %th
        %th

    %tbody
      - @challenges.each do |challenge|
        %tr
          %td= challenge.id
          %td= challenge.name
          %td= challenge.genre
          %td= challenge.point
          %td= challenge.opened_at.presence || 'Closed'
          %td= link_to 'Show', admin_challenge_path(challenge)
          %td= link_to 'Edit', edit_admin_challenge_path(challenge)
          %td= link_to 'Destroy', admin_challenge_path(challenge), :method => :delete, :data => { :confirm => 'Are you sure?' }
