.header
  %h1 Challenges

.content
  %p
    = link_to 'New Challenge', new_admin_challenge_path

  %table.pure-table
    %tr
      %th ID
      %th Name
      %th Genre
      %th Point
      %th
        Opened at
        %br
        %small ('N/A' means it is closed.)
      %th
      %th
      %th

    - @challenges.each do |challenge|
      %tr
        %td= challenge.id
        %td= challenge.name
        %td= challenge.genre
        %td= challenge.point
        %td= challenge.opened_at.presence || 'N/A'
        %td= link_to 'Show', admin_challenge_path(challenge)
        %td= link_to 'Edit', edit_admin_challenge_path(challenge)
        %td= link_to 'Destroy', admin_challenge_path(challenge), :method => :delete, :data => { :confirm => 'Are you sure?' }
