.header
  %h1 Sign up

.content
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'pure-form pure-form-aligned'}) do |f|
    - unless resource.errors.empty?
      %p Please fix #{pluralize(resource.errors.count, 'error')} to sign up.
      %ul
        - resource.errors.full_messages.each do |msg|
          %li= msg
    %fieldset
      .pure-control-group
        = f.label :email
        = f.email_field :email, :autofocus => true
      .pure-control-group
        = f.label :name
        = f.text_field :name, required: true
        %small The name you typed here will be in public!
      .pure-control-group
        = f.label :password
        = f.password_field :password
        %small At least 8 letters required.
      .pure-control-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation
      .pure-control-group
        = f.label :team
        = f.select :team_id, Team.pluck(:name, :id)
      .pure-control-group
        = f.label :team_password
        = f.password_field :team_password, required: true
      .pure-controls
        = f.submit "Sign up", class: 'pure-button pure-button-primary'
  = render "players/shared/links"
