.header
  %h1 Settings

.content
  = form_for Setting, url: admin_settings_path, method: 'put', html: {class: 'pure-form pure-form-aligned'} do |f|
    %fieldset
      .pure-control-group
        = f.label :ctf_name, 'CTF Name'
        = f.text_field :ctf_name, required: true
      .pure-control-group
        = f.label :submit_burst_count, 'Submit Burst [Count] (# submission)'
        = f.text_field :submit_burst_count, required: true, type: :number, min: 0
      .pure-control-group
        = f.label :submit_burst_time, 'Submit Burst [Time] (sec.)'
        = f.text_field :submit_burst_time, required: true, type: :number, min: 0
      %small Note: any of 'submit burst' settings can be 0. It means the feature is disabled.
      .pure-control-group
        = f.label :cooling_down, 'Time for cooling down (sec.)'
        = f.text_field :cooling_down, required: true, type: :number
      .pure-control-group
        = f.label 'Team registration period'
        = f.text_field :team_registrable_from, required: true
        \-
        = f.text_field :team_registrable_until, required: true
        :javascript
          var datetimeFormat = 'Y-m-d H:i:00 \\U\\T\\C';
          var opts = { format: datetimeFormat };
          $('#setting_team_registrable_from').datetimepicker(opts);
          $('#setting_team_registrable_until').datetimepicker(opts);
      .pure-control-group
        = f.label 'Contest period'
        = f.text_field :contest_opens_at, required: true
        \-
        = f.text_field :contest_ends_at, required: true
        :javascript
          var datetimeFormat = 'Y-m-d H:i:00 \\U\\T\\C';
          var opts = { format: datetimeFormat };
          $('#setting_contest_opens_at').datetimepicker(opts);
          $('#setting_contest_ends_at').datetimepicker(opts);
      .pure-control-group
        = f.label 'First break points'
        = f.text_field :first_break_points
      %fieldset
        %legend Rules
        = f.text_area :rules, class: 'pure-input-1'
        %small Preview
        %div#rules-preview
      .pure-controls
        = f.submit 'Submit', class: 'pure-button pure-button-primary'

:javascript
  var conv = new Showdown.converter();
  $('#setting_rules').keyup(function() {
    $('#rules-preview').html(conv.makeHtml(this.value));
  });
  $(document).on('page:load', function() {
    $('#rules-preview').html(conv.makeHtml($('#setting_rules').value));
  });