.header
  %h1= @challenge.name
  %h2 #{@challenge.genre} #{@challenge.point}

.content
  != markdown_render(@challenge.description)

  - if within_contest_period?
    = form_for @answer, url: challenge_path(@challenge), html: {class: 'pure-form'} do |f|
      %fieldset
        = f.text_field :answer, placeholder: 'Flag'
        = f.submit 'Submit', class: 'pure-button pure-button-primary'
  - else
    %p The contest is closed...
