.header
  %h1 Teams

.content
  %p= link_to 'New Team', new_admin_team_path

  %p= pluralize(Team.count, 'team')
  %table.pure-table
    %thead
      %tr
        %th ID
        %th Name
        %th # Members
        %th Point
        %th
        %th
        %th

    %tbody
      - @teams.each do |team|
        %tr
          %td= team.id
          %td= team.name
          %td= team.players.count
          %td= team.point
          %td= link_to 'Show', admin_team_path(team)
          %td= link_to 'Edit', edit_admin_team_path(team)
          %td= link_to 'Destroy', admin_team_path(team), :method => :delete, :data => { :confirm => 'Are you sure?' }
