!!!
%html
  %head
    %title= Setting.ctf_name
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400,300'
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body{id: @page_id.presence || controller.controller_name}
    #layout
      %a#menuLink.menu-link{href: '#menu'}
        -# this <span> is needed for showing menu's icon.
        / icon
        %span
      = render partial: 'menu'
      #main
        - if flash.any?
          .flash-wrapper
            .flash
              - [:alert, :notice].each do |klass|
                - if flash[klass].present?
                  %div{class: klass}
                    = flash[klass]
        - if player_signed_in?
          .pure-menu.pure-menu-open.pure-menu-horizontal
            %ul
              %li= link_to current_player.name, edit_player_registration_path
              %li= link_to current_player.team.name, current_player.team
              %li
                %a #{current_player.team.point} pt.
        = yield
