!!!
%html
  %head
    %title= Setting.ctf_name
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400,300'
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #layout
      %a#menuLink.menu-link{href: '#menu'}
      #menu
        .pure-menu.pure-menu-open
          = link_to Setting.ctf_name, root_path, class: 'pure-menu-heading'
          %ul
            %li= link_to 'Rules', rules_path
            %li= link_to 'Challenges', challenges_path
            %li
              %a Ranking
          - if admin_signed_in?
            = link_to 'Admin', admin_path, class: 'pure-menu-heading'
            %ul
              %li= link_to 'Challenges', admin_challenges_path
              %li= link_to 'Players', admin_players_path
              %li= link_to 'Teams', admin_teams_path
              %li= link_to 'Settings', admin_settings_path
      #main
        - [:notice, :alert].each do |klass|
          - if flash[klass].present?
            %div{class: "flash #{klass}"}
              = flash[klass]
        = yield
